@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin:  0;
}

    /* basic format / style */

body {
        color:white;
        font-family: 'Raleway', sans-serif;
    }


 h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
 }   
button {
    padding: 10px 15px;
    margin-top: 15px;
    border: 2pt solid #639D9D;
    background: #639D9D;
    color: white;
    font-weight: bold;
  }

button:hover {
    padding: 10px 15px;
    margin-top: 15px;
    border: 2pt solid #639D9D;
    background: white;
    color: #639D9D;
}

    /* navigation */

.top-nav {
    background: #639D9D;
    display: flex;
    justify-content: space-between;
    padding: .3em;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigation {
    background: #4A5A5A;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
      }

nav ul {
    
    display: flex;
    justify-content: center; 
    margin: 1.5em;
      }

nav a {
    color: white; 
    text-decoration: none;
    margin-left: 3em;
}

nav li {
    list-style-type: none;
      }

nav a:hover {
    color: #FEF1C1;
    }
      
.top-social i {
    font-size: 2em;
    color: white;
    margin: 5px;
}

.top-social i:hover {
    color: #FEF1C1;
}

.nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
      font-size: 1.5em;
    }

  .nav-toggle:checked ~ nav {
      transform: scale(1,1);
    }

    @media screen and (min-width: 600px) {
      .nav-toggle-label {
        display: none;
      }


    
    /* hero content */

.content-hero {
    height: 60vh;
    background-image:url(images/Hero\ Image\ \(2\).jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    color: black;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 150px;
}

.hero-title h1 {
  text-transform: uppercase;
  font-size: 39px;
}
/*
.container-hero {
    width: 80%;
    margin: 0 auto;
    padding-top: 5em;
    
    }
    */



    /* cards content */

    .container-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        /* font-family: sans-serif;  */
        margin: 20px;
      }

    .artist-card {
        background: #4A5A5A;
    }

    .artist-card h3 {
        margin: 15px;
      }

      .artist-card img {
          width: 100%;
          height: 300px;
          object-fit: cover;
      }

  /* media quereies for artist cards */
      @media (max-width: 800px) {
        .container-card {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (max-width: 600px) {
        .container-card {
          display: block;
        }
      }


       /* events section */
.events {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

/* events header and paragraph */
       .line {
        margin-top: 28px;
           width: 60%;
           border-top: solid 3px #639D9D;
       }
       .events-content {
           width: 40%;
           padding-right: 50px;
       }
       .events h1 {
        color: black;
        margin-right: 20px;
        margin-bottom: 1em;
       }

       .events p {
           color: black;
           font-size: 16px;
           line-height: 25px;
       }

/* event date and small cards */
       .events-title {
        padding: 1.5em;
        background: #4A5A5A;
        position: relative;
        margin: 10px;
        width: 255px;
        height: 5px;
        line-height: 8px;
        font-size: 13px;
        z-index: 0;
    }

       .container-events {
        display: flex;
        justify-content: center;
        flex: 25%;
        margin: 10px;
    }

    .container-events h2 {
        color: black;
        background:rgba(255,255,255, .3);
    }

       .events-card {
            margin: 10px;
           object-fit: cover;
           background:white;
            color: black;
            column-gap: 10px;
       }

       .events-card img {
            width:100%;
           object-fit:cover;
       }

/* events cards media queries */

       @media screen and (max-width: 800px) {
        .container-events {
            display: flex;
            flex-wrap: wrap;
            flex: 50%;
            margin: 10px;
        }

        .events-title {
            padding: 1.5em;
        }
      }

       @media screen and (max-width: 600px) {
        .container-events {
        flex-direction: column;
        column-gap: 20px;
        row-gap: 100px;
        margin: 38px;
        }

        
      }



/* Eating and Sleeping bottom section */

.content-eating {
    height: 50vh;
    background-image:url(images/eat-sleep-background.jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
    margin-top: 75px;
}

.eating-title {
    padding: 1.5em;
    background: rgba(0,0,0, .6);
    position: absolute;
    top: 35%;
    right: 150px;
    width: 40%;
    padding-right: 50px;
}

.eating p {
    position: absolute;
    font-size: 16px;
    line-height: 25px;
}

.eating-title h2 {
  line-height: 50px;
}



/* ARTISTS PAGE */

/* hero content */

.content-hero-artists {
    height: 60vh;
    background-image:url(images/featured-artists-hero\ \(1\).jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    color: black;
    position: absolute;
    top: 50%;
    left: 150px;
}

 
/* artist bios and cards */


/* LINO */
.container-images {
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .container-images div {
      flex: 1;
  }
  
 
  .card {
    background: #4A5A5A;
    padding: 2em;
    line-height: 1.3em;
  }

.card-image div {
    height: 50%;
}

.card-image div:first-child {
    padding-bottom: 1em;
}

  .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }


  /* MILO */

  




/* EATING & SLEEPING PAGE */

/* hero content */

.content-hero-eating {
    height: 60vh;
    background-image:url(images/eat-sleep-hero.jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    color: black;
    position: absolute;
    top: 50%;
    left: 150px;
}


/* hotels content */

 .container-hotel {
        max-width: 900px;
        margin: auto;
        overflow: auto;
        padding: 2rem;
      }

  


  .hotel-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
  }

  .hotel-info {
    width: 100%;
    height: 300px;
    object-fit: cover;
    color: black;
  }

  .card-hotel {
    display: flex;
    background: white;
    margin-left: 2rem;
    color: black;
    padding: 2em;
  }
  
  .card-hotel img {
    width: 400px;
    object-fit: cover;
  }
  
  .card-hotel h3 {
    margin-bottom: 15px;
  }

.card-hotel p {
  margin-top: 15px;
}
  
  
  .card-hotel > div {
    padding: 2rem;
  }
  
  
  .card-hotel a {
    display: inline-block;
    padding: .8rem 1.8rem;
    margin-top: 2rem;
    border: 2pt solid #639D9D;
    background: #639D9D;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .card-hotel a:hover {
    border: 2pt solid #639D9D;
    background: white;
    color: #639D9D;
  }

  .hotel-line {
    width: 30%;
    border-top: solid 3px #639D9D;
  }
  
  
  @media(max-width: 700px) {
    .card-hotel {
      display: block;
    }
  }

/* food content */
  .card-food {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    margin-left: 2rem;
    color: black;
    padding: 2em;
  }
  
  .card-food img {
    width: 400px;
    object-fit: cover;
  }
  
  .card-food h3 {
    margin-bottom: 15px;
  }

  .card-food p {
    margin-top: 15px;
  }

  .food-line {
    width: 30%;
    border-top: solid 3px #639D9D;
  }
  
  
  .card-food > div {
    padding: 2rem;
  }
  
  
  .card-food a {
    display: inline-block;
    padding: .8rem 1.8rem;
    margin-top: 2rem;
    border: 2pt solid #639D9D;
    background: #639D9D;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .card-food a:hover {
    border: 2pt solid #639D9D;
    background: white;
    color: #639D9D;
  }
  
  
  @media(max-width: 700px) {
    .card-food {
      display: block;
    }
  }
  





/* VOLUNTEER PAGE */

/* hero content */

.content-hero-volunteer {
    height: 60vh;
    background-image:url(images/volunteer-hero.jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    color: black;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 150px;
}


.intro {
    max-width: 700px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
}
.intro p {
    color: black;
}


.form-container {
    width: 700px;
    margin: 0 auto ;
    /* 
    display: flex;
    object-position: center;
    justify-content: center; */
  }

  .form-content {
    text-align: left;
  }
  
  .form {
    /* width: 620px; */
    background: lightseagreen;
    padding: 3em;
    /* justify-content: center; */
  }
  
  form div {
    margin: 15px;
  }
  
  label {
    line-height: 2.5;
    font-size: .8em;
  }
  
  form input {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    background: rgba(255,255,255,.75)
  }
  
  .agree input {
    width: auto;
  }
  
 




/* FAQ PAGE */

/* hero content */

.content-hero-faq {
    height: 60vh;
    background-image:url(images/FAQ-hero.jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    color: black;
    position: absolute;
    top: 50%;
    left: 150px;
}

.questions {
    color: black; 
    margin: 200px;
    margin-top: 50px;

}

.questions h3 {
    line-height: 25px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}


.faq-card {
    display: flex;
    align-items: center;
    padding: 20px;
}

.faq-card image {
   padding: 55px;
}

.faq-card-content {
    padding: 55px;
}


/* Footer */

footer {
    background: #4A5A5A;
    text-align: left;
    padding: 1em;

}


.footer-id {
    display: flex;
    gap: 10px;
    font-size: 10px;
    line-height: 17px;
}




.footer-content {
    display: flex;
    justify-content: space-evenly;
}

footer img {
    height: 60px;
}

.bottom-social i {
    font-size: 25px;
    color: white;
    line-height: 35px;
}

.get-connected {
    font-size: 10px;
    line-height: 3em;
}

/* form {
    width: 300px;
    background:white;
    color: #6e6e6e;
    padding: 3px;
  } */

.copyright p {
    text-align: center;
    font-size: 10px;
}


