* {
    padding: 0;
    margin:  0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


body {
    color:blue;
}

.top-nav {
    background: #639D9D;
    display: flex;
    justify-content: space-between;
    padding: .3em;
}

.navigation {
    background: #4A5A5A;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
      }

nav ul {
    color: white; 
    display: flex;
    justify-content: center; 
    margin: 2em;
      }

nav li {
    margin-left: 3em;
    list-style-type: none;
      }
      
.top-social i {
    font-size: 2em;
    color: white;
    margin: 5px;
}

.nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
      font-size: 1.5em;
    }


    
    /* hero content */

.content-hero {
    height: 50vh;
    background-color: #333;
    color: white;
    background-size: cover;
    }

.container-hero {
    width: 80%;
    margin: 0 auto;
    padding-top: 5em;
    }