* {
    padding: 0;
    margin:  0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


body {
    color:white;
}

.top-nav {
    background: #639D9D;
    display: flex;
    justify-content: space-between;
    padding: .3em;
    position: sticky;
    top: 0;
}

.navigation {
    background: #4A5A5A;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
      }

nav ul {
    color: white; 
    display: flex;
    justify-content: center; 
    margin: 2em;
      }

nav li {
    margin-left: 3em;
    list-style-type: none;
      }
      
.top-social i {
    font-size: 2em;
    color: white;
    margin: 5px;
}

.nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
      font-size: 1.5em;
    }


    
    /* hero content */

.content-hero {
    height: 50vh;
    background-image:url(images/Hero\ Image\ \(2\).jpg) ;
    z-index:0;
    color: white;
    background-size: cover;
    position: relative;
}

.hero-title {
    padding: 1.5em;
    background: rgba(255,255,255, .3);
    position: absolute;
    top: 50%;
    left: 150px;
}

/*
.container-hero {
    width: 80%;
    margin: 0 auto;
    padding-top: 5em;
    
    }
    */



    /* cards content */

    .container-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        font-family: sans-serif; 
        margin: 20px;
      }

    .card {
        background: #4A5A5A;
    }

      .card h3 {
        margin: 15px;
      }

      .card img {
          width: 100%;
          height: 300px;
          object-fit: cover;
      }


       /* events section */
.events {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

/* events header and paragraph */
       .line {
        margin-top: 28px;
           width: 60%;
           border-top: solid 3px #639D9D;
       }
       .events-content {
           width: 40%;
           padding-right: 50px;
       }
       .events h1 {
        color: black;
        margin-right: 20px;
        margin-bottom: 1em;
       }

       .events p {
           color: black;
           font-size: 16px;
           line-height: 25px;
       }

/* event date and small cards */
       .events-title {
        padding: 1.5em;
        background: #4A5A5A;
        position: relative;
        margin: 10px;
        width: 215px;
        height: 5px;
        line-height: 8px;
        font-size: 13px;
    }

       .container-events {
        display: flex;
        margin: 10px;
        
    }

    .container-events h2 {
        color: black;
        background:rgba(255,255,255, .3);
    }

       .events-card {
            margin: 10px;
           object-fit: cover;
           background:white;
            color: black;
            column-gap: 10px;
       }

       .events-card img {
           width:100%;
           object-fit: cover;
       }



/* Eating and Sleeping bottom section */

.content-eating {
    
}
